<div class="block">
  <h1>display counte</h1>
  <display-component></display-component>

</div>

<div class="block">
  <h1>display vote</h1>
  <display-vote-component>
  </display-vote-component>
</div>

<div class="block block-long">
  <h1>display list</h1>

  <h3>without input</h3>
  <test-component></test-component>

  <h3>with input of 2 elements</h3>
  <test-component [inputData]="['Odd','Even']"></test-component>

  <h3>with input of 3 elements</h3>
  <test-component [inputData]="['Odd','Even', 'toto']"></test-component>
</div>
